@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
* {
  text-decoration: none;
  margin: 0;
  padding: 0; }

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }
  body header,
  html header {
    background-image: url("../img/navet.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover; }
    body header nav,
    html header nav {
      font-family: 'Lato', sans-serif;
      height: 10vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.1); }
      body header nav ul,
      html header nav ul {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        body header nav ul li,
        html header nav ul li {
          text-decoration: none;
          list-style: none; }
          body header nav ul li i,
          html header nav ul li i {
            color: #dab33e; }
        body header nav ul a,
        html header nav ul a {
          color: white;
          text-decoration: none;
          padding-right: 10%;
          margin: 0 4%;
          padding: 2% 2%; }
        body header nav ul #reseau,
        html header nav ul #reseau {
          display: flex;
          flex-direction: row;
          padding: 2% 2%;
          justify-content: space-around; }
    body header .texte_principal,
    html header .texte_principal {
      padding-top: 10%;
      text-align: center; }
      body header .texte_principal h1,
      html header .texte_principal h1 {
        font-family: 'Yeseva One', cursive;
        padding-bottom: 2%;
        color: white;
        font-size: 4.9em; }
      body header .texte_principal img,
      html header .texte_principal img {
        width: 21%;
        height: 28%; }
    body header #bouton,
    html header #bouton {
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: white;
      padding-top: 2%; }
      body header #bouton .box1,
      html header #bouton .box1 {
        color: white;
        margin-top: 5%;
        margin-right: 2%;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #242525;
        padding: 1% 3%; }
      body header #bouton .box2,
      html header #bouton .box2 {
        color: white;
        margin-top: 5%;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1% 3%; }
  body #food,
  html #food {
    background-image: url("../img/blanc.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 4% 0%; }
    body #food #texte,
    html #food #texte {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-around; }
      body #food #texte #titre h2,
      html #food #texte #titre h2 {
        font-family: 'Yeseva One', cursive;
        font-size: 2em;
        color: #dab33e; }
      body #food #texte #titre img,
      html #food #texte #titre img {
        height: 21%;
        padding-top: 3%; }
      body #food #texte #chef,
      html #food #texte #chef {
        height: 25%;
        width: 25%; }
      body #food #texte #text_2,
      html #food #texte #text_2 {
        text-align: justify;
        width: 58%; }
        body #food #texte #text_2 p,
        html #food #texte #text_2 p {
          font-family: 'Lato', sans-serif; }
        body #food #texte #text_2 #stop,
        html #food #texte #text_2 #stop {
          font-family: 'Lato', sans-serif;
          text-align: center; }
      body #food #texte #assiette,
      html #food #texte #assiette {
        height: 100%;
        height: 90%; }
  body #ingredient,
  html #ingredient {
    background-image: url("../img/salade.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center; }
    body #ingredient #bloc_noir,
    html #ingredient #bloc_noir {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: center;
      padding: 3%;
      background-color: rgba(0, 0, 0, 0.7);
      height: 50vh;
      width: 31vw;
      margin-top: 18vh;
      margin-left: 56vw; }
      body #ingredient #bloc_noir #titre_divider h2,
      html #ingredient #bloc_noir #titre_divider h2 {
        padding: 5%;
        font-family: 'Yeseva One', cursive;
        font-size: 2em;
        color: white; }
      body #ingredient #bloc_noir #titre_divider #divider,
      html #ingredient #bloc_noir #titre_divider #divider {
        padding-bottom: 5%; }
      body #ingredient #bloc_noir #text p,
      html #ingredient #bloc_noir #text p {
        color: white;
        font-family: 'Lato', sans-serif; }
      body #ingredient #bloc_noir #text #stop_2,
      html #ingredient #bloc_noir #text #stop_2 {
        padding: 5%; }
      body #ingredient #bloc_noir #3epices img,
      html #ingredient #bloc_noir #3epices img {
        padding: 5% 5%; }
  body #menu,
  html #menu {
    background-image: url("../img/blanc.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center; }
  body #guest,
  html #guest {
    background-image: url("../img/brochette.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    color: white; }
    body #guest #fond_noir,
    html #guest #fond_noir {
      display: flex;
      flex-direction: column;
      text-align: justify;
      align-items: center;
      padding: 3%;
      background-color: rgba(0, 0, 0, 0.7);
      height: 50vh;
      width: 31vw;
      margin-left: 32vw;
      margin-top: 21vh; }
    body #guest #titre_divider_2,
    html #guest #titre_divider_2 {
      font-family: 'Yeseva One', cursive;
      font-size: 1.5em; }
      body #guest #titre_divider_2 h2,
      html #guest #titre_divider_2 h2 {
        padding-bottom: 4%;
        padding-top: 5%; }
    body #guest #paragraphe,
    html #guest #paragraphe {
      font-family: 'Lato', sans-serif; }
      body #guest #paragraphe p,
      html #guest #paragraphe p {
        font-family: 'Gentium Book Basic', serif;
        padding-top: 5%;
        line-height: 184%;
        width: 28vw; }
        body #guest #paragraphe p p :before,
        html #guest #paragraphe p p :before {
          content: "\f10d";
          font-family: "FontAwesome"; }
      body #guest #paragraphe #contrib,
      html #guest #paragraphe #contrib {
        text-align: center; }
  body #reservation1,
  html #reservation1 {
    background-image: url("../img/blanc.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: row;
    text-align: justify; }
    body #reservation1 #image,
    html #reservation1 #image {
      width: 50vw;
      display: flex;
      flex-direction: row;
      text-align: justify;
      align-items: center;
      padding: 5%; }
      body #reservation1 #image #plat1,
      html #reservation1 #image #plat1 {
        padding-right: 3%; }
    body #reservation1 #formulaire,
    html #reservation1 #formulaire {
      width: 50vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 5%; }
      body #reservation1 #formulaire #titre_divider_3,
      html #reservation1 #formulaire #titre_divider_3 {
        color: #dab33e; }
        body #reservation1 #formulaire #titre_divider_3 h2,
        html #reservation1 #formulaire #titre_divider_3 h2 {
          font-family: 'Yeseva One', cursive;
          font-size: 2.2em;
          padding-bottom: 5%; }
        body #reservation1 #formulaire #titre_divider_3 #divider,
        html #reservation1 #formulaire #titre_divider_3 #divider {
          color: #dab33e;
          height: 28%;
          padding-bottom: 5%; }
      body #reservation1 #formulaire #paragraphe_3,
      html #reservation1 #formulaire #paragraphe_3 {
        width: 60%; }
        body #reservation1 #formulaire #paragraphe_3 #p1,
        html #reservation1 #formulaire #paragraphe_3 #p1 {
          padding-bottom: 4%; }
      body #reservation1 #formulaire #form,
      html #reservation1 #formulaire #form {
        padding-top: 8%;
        width: 36vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between; }
        body #reservation1 #formulaire #form #nom,
        html #reservation1 #formulaire #form #nom {
          margin-bottom: 5%; }
        body #reservation1 #formulaire #form #mail,
        html #reservation1 #formulaire #form #mail {
          margin-bottom: 5%; }
        body #reservation1 #formulaire #form #date,
        html #reservation1 #formulaire #form #date {
          margin-bottom: 5%; }
        body #reservation1 #formulaire #form #nb,
        html #reservation1 #formulaire #form #nb {
          margin-bottom: 5%; }
        body #reservation1 #formulaire #form #bouton,
        html #reservation1 #formulaire #form #bouton {
          padding-top: 10%;
          margin-right: 11%; }
        body #reservation1 #formulaire #form label,
        html #reservation1 #formulaire #form label {
          color: #dab33e;
          padding-right: 55%;
          width: 200px; }
        body #reservation1 #formulaire #form #start,
        html #reservation1 #formulaire #form #start {
          margin-left: 14%; }
  body footer,
  html footer {
    background-color: #191919;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row; }
    body footer #about_us,
    html footer #about_us {
      width: 33vw;
      text-align: center; }
      body footer #about_us h3,
      html footer #about_us h3 {
        color: white;
        text-align: center;
        padding-top: 7%;
        padding-bottom: 4%; }
      body footer #about_us #divider_1,
      html footer #about_us #divider_1 {
        height: 9%; }
      body footer #about_us #texte_1,
      html footer #about_us #texte_1 {
        padding-top: 6%;
        color: white;
        width: 67%;
        text-align: center;
        margin: auto; }
    body footer #hours,
    html footer #hours {
      width: 33vw;
      text-align: center; }
      body footer #hours h3,
      html footer #hours h3 {
        color: white;
        text-align: center;
        padding-top: 7%;
        padding-bottom: 4%; }
      body footer #hours #texte_2,
      html footer #hours #texte_2 {
        color: #dab33e;
        padding-bottom: 4%; }
      body footer #hours #divider_2,
      html footer #hours #divider_2 {
        height: 9%;
        padding-bottom: 6%; }
      body footer #hours p,
      html footer #hours p {
        color: white; }
      body footer #hours .fab.fa-cc-visa,
      html footer #hours .fab.fa-cc-visa {
        padding-right: 2%; }
      body footer #hours .fab.fa-cc-paypal,
      html footer #hours .fab.fa-cc-paypal {
        padding-right: 2%; }
      body footer #hours .fab.fa-cc-amex,
      html footer #hours .fab.fa-cc-amex {
        padding-right: 2%; }
      body footer #hours .fab.fa-cc-discove,
      html footer #hours .fab.fa-cc-discove {
        padding-right: 2%; }
    body footer #our_location,
    html footer #our_location {
      width: 33vw;
      text-align: center; }
      body footer #our_location h3,
      html footer #our_location h3 {
        color: white;
        padding-top: 7%;
        padding-bottom: 4%; }
      body footer #our_location #divider_3,
      html footer #our_location #divider_3 {
        height: 9%; }
      body footer #our_location #texte_3,
      html footer #our_location #texte_3 {
        padding-top: 6%;
        color: white; }
      body footer #our_location .fab.fa-twitter,
      html footer #our_location .fab.fa-twitter {
        color: #dab33e;
        padding-top: 5%;
        padding-right: 2%; }
      body footer #our_location .fab.fa-facebook-f,
      html footer #our_location .fab.fa-facebook-f {
        color: #dab33e;
        padding-top: 5%;
        padding-right: 2%; }
      body footer #our_location .fab.fa-youtube,
      html footer #our_location .fab.fa-youtube {
        color: #dab33e;
        padding-top: 5%;
        padding-right: 2%; }
      body footer #our_location .fab.fa-trello,
      html footer #our_location .fab.fa-trello {
        color: #dab33e;
        padding-top: 5%;
        padding-right: 2%; }

/*# sourceMappingURL=index.css.map */
