@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');

// |------------------------------|Body|-------------------------------------------------|

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    // ##### <---------------|Header Restaurant|---------------> #########

    header {

        background-image: url("../img/navet.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: cover;

        nav {
            font-family: 'Lato', sans-serif;
            height: 10vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: rgba(0, 0, 0, 0.1);

            #logo {}

            ul {
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                li {

                    text-decoration: none;
                    list-style: none;

                    i {
                        color: #dab33e;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                    padding-right: 10%;
                    margin: 0 4%;
                    padding: 2% 2%;
                }

                #reseau {

                    display: flex;
                    flex-direction: row;
                    padding: 2% 2%;
                    justify-content: space-around;
                }

            }

        }

        .texte_principal {
            padding-top: 10%;
            text-align: center;

            h1 {
                font-family: 'Yeseva One', cursive;
                padding-bottom: 2%;
                color: white;
                font-size: 4.9em;

            }

            img {
                width: 21%;
                height: 28%;

            }

        }

        #bouton {
            font-family: 'Lato', sans-serif;
            text-align: center;
            color: white;
            padding-top: 2%;

            .box1 {
                color: white;
                margin-top: 5%;
                margin-right: 2%;
                background-color: rgba(0, 0, 0, 0.7);
                border: 1px solid #242525;
                padding: 1% 3%;

            }

            .box2 {
                color: white;
                margin-top: 5%;
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.2);
                padding: 1% 3%;

            }
        }

    }

    // <!-- -------------------------|Section 2 Just the Right Food|-------------------------  -->

    #food {

        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        display: flex;
        justify-content: center;
        padding: 4% 0%;

        #texte {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: space-around;

            #titre {

                h2 {
                    font-family: 'Yeseva One', cursive;
                    font-size: 2em;
                    color: #dab33e;

                }

                img {
                    height: 21%;
                    padding-top: 3%;
                }
            }

            #chef {
                height: 25%;
                width: 25%;
            }

            #text_2 {

                text-align: justify;
                width: 58%;

                p {
                    font-family: 'Lato', sans-serif;

                }

                #stop {
                    font-family: 'Lato', sans-serif;
                    text-align: center;
                }

            }

            #assiette {
                height: 100%;
                height: 90%;
            }
        }
    }

    // <!-- -------------------------|Section 3 Fine ingredients|-------------------------  -->

    #ingredient {
        background-image: url("../img/salade.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;

        #bloc_noir {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            text-align: center;

            padding: 3%;
            background-color: rgba(0, 0, 0, 0.7);
            height: 50vh;
            width: 31vw;
            margin-top: 18vh;
            margin-left: 56vw;


            #titre_divider {

                h2 {
                    padding: 5%;
                    font-family: 'Yeseva One', cursive;
                    font-size: 2em;
                    color: white;
                }

                #divider {
                    padding-bottom: 5%;
                }
            }

            #text {
                p {
                    color: white;
                    font-family: 'Lato', sans-serif;

                }

                #stop_2 {
                    padding: 5%;
                }
            }

            #3epices {

                img {

                    padding: 5% 5%;
                }
            }

        }
    }

    // <!-- --------------------------|Section 4 Menu |-------------------------  -->

    #menu {
        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
    }

    // <!-- -------------------------|Section 5 Guest Review|-------------------------  -->

    #guest {
        background-image: url("../img/brochette.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        color: white;

        #fond_noir {
            display: flex;
            flex-direction: column;
            text-align: justify;
            align-items: center;
            padding: 3%;
            background-color: rgba(0, 0, 0, 0.7);
            height: 50vh;
            width: 31vw;
            margin-left: 32vw;
            margin-top: 21vh;

        }

        #titre_divider_2 {
            font-family: 'Yeseva One', cursive;
            font-size: 1.5em;

            h2 {
                padding-bottom: 4%;
                padding-top: 5%;
            }

            img {}
        }

        #paragraphe {
            font-family: 'Lato', sans-serif;

            p {
                font-family: 'Gentium Book Basic', serif;
                padding-top: 5%;
                line-height: 184%;
                width: 28vw;

                p :before {
                    content: "\f10d";
                    font-family: "FontAwesome";

                }
            }

            #contrib {
                text-align: center;
            }

        }

    }

    // <!-- -------------------------|Section 6 Formulaire Reservations |-------------------------  -->

    #reservation1 {
        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        display: flex;
        flex-direction: row;
        text-align: justify;



        #image {
            width: 50vw;
            display: flex;
            flex-direction: row;
            text-align: justify;
            align-items: center;
            padding: 5%;

            #plat1 {
                padding-right: 3%;
            }
        }



        #formulaire {
            width: 50vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 5%;

            #titre_divider_3 {
                color: #dab33e;

                h2 {
                    font-family: 'Yeseva One', cursive;
                    font-size: 2.2em;
                    padding-bottom: 5%;

                }

                #divider {
                    color: #dab33e;
                    height: 28%;
                    padding-bottom: 5%;
                }

            }

            #paragraphe_3 {

                width: 60%;


                #p1 {
                    padding-bottom: 4%;
                }

                #p2 {}

            }


            #form {
                padding-top: 8%;
                width: 36vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                #nom {

                    margin-bottom: 5%;
                }

                #mail {
                    margin-bottom: 5%;

                }

                #date {
                    margin-bottom: 5%;

                }

                #nb {
                    margin-bottom: 5%;


                }

                #bouton {

                    padding-top: 10%;
                    margin-right: 11%;
                }

                label {
                    color: #dab33e;
                    padding-right: 55%;
                    width: 200px;
                }

                #start {
                    margin-left: 14%;
                }
            }

        }


    }

    // < !-- -------------------------------|Section Footer|------------------------- -->


    footer {
        background-color: #191919;
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: row;

        #about_us {

            width: 33vw;
            text-align: center;

            h3 {
                color: white;
                text-align: center;
                padding-top: 7%;
                padding-bottom: 4%;
            }

            #divider_1 {
                height: 9%;
            }

            #texte_1 {
                padding-top: 6%;
                color: white;
                width: 67%;
                text-align: center;
                margin: auto;
            }
        }

        #hours {
            width: 33vw;
            text-align: center;

            h3 {
                color: white;
                text-align: center;
                padding-top: 7%;
                padding-bottom: 4%;
            }

            #texte_2 {
                color: #dab33e;
                padding-bottom: 4%;

            }

            #divider_2 {
                height: 9%;
                padding-bottom: 6%;
            }

            p {
                color: white;
            }

            .fab.fa-cc-visa {
                padding-right: 2%;
            }

            .fab.fa-cc-paypal {
                padding-right: 2%;
            }

            .fab.fa-cc-amex {
                padding-right: 2%;
            }

            .fab.fa-cc-discove {
                padding-right: 2%;
            }

        }

        #our_location {
            width: 33vw;
            text-align: center;

            h3 {
                color: white;
                padding-top: 7%;
                padding-bottom: 4%;

            }

            #divider_3 {
                height: 9%;
            }

            #texte_3 {
                padding-top: 6%;
                color: white;
            }

            .fab.fa-twitter {
                color: #dab33e;
                padding-top: 5%;
                padding-right: 2%;
            }

            .fab.fa-facebook-f {
                color: #dab33e;
                padding-top: 5%;
                padding-right: 2%;
            }

            .fab.fa-youtube {
                color: #dab33e;
                padding-top: 5%;
                padding-right: 2%;
            }

            .fab.fa-trello {
                color: #dab33e;
                padding-top: 5%;
                padding-right: 2%;
            }

        }


    }



}