// |------------------------|Body|-------------------------------------------------|
body,
html {
    margin: 0;
    padding: 0;


    // ##### <----------|Header Restaurant|---------------> #########

    header {
        background-image: url("../img/navet.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;

        nav,
        ul,
        li,
        a {

            display: flex;
            flex-direction: row;
        }

    }

    .food {
        background-image: url("../img/blanc.jpg");
        // width: 100vw;
        height: 100vh;
        background-position: center;

    }








}