// |------------------------------|Body|-------------------------------------------------|

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    // ##### <---------------|Header Restaurant|---------------> #########

    header {
        background-image: url("../img/navet.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: cover;


        nav {
            height: 10vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;



            ul {
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                li {

                    text-decoration: none;
                    list-style: none;

                    i {
                        color: #dab33e;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                    padding-right: 10%;
                    margin: 0 4%;
                    padding: 2% 2%;
                }

                #reseau {

                    display: flex;
                    flex-direction: row;
                    padding: 2% 2%;
                    justify-content: space-around;
                }

            }


        }

        .texte_principal {
            padding-top: 15%;
            text-align: center;


            h1 {
                padding-bottom: 4%;
                color: white;
                font-size: 4em;

            }

            img {
                width: 13%;
                height: 13%;
                padding-bottom: 3%;

            }

            a {}


        }

        #bouton {
            text-align: center;


            .box1 {

                margin-top: 5%;
                background-color: #242525;
                border: 1px solid #242525;
                padding: 1%;


                a {

                    color: white;
                }
            }

            .box2 {

                margin-top: 5%;
                background-color: #242525;
                border: 1px solid #242525;
                padding: 1%;



                a {

                    color: white;
                }
            }
        }

    }

    // <!-- -------------------------|Section 2 Just the Right Food|-------------------------  -->

    #food {
        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;

    }

    // <!-- -------------------------|Section 3 Fine ingredients|-------------------------  -->

    #ingredient {
        background-image: url("../img/salade.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;


    }

    // <!-- --------------------------|Section 4 Menu |-------------------------  -->

    #menu {
        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;
    }

    // <!-- -------------------------|Section 5 Guest Review|-------------------------  -->

    #guest {
        background-image: url("../img/brochette.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;

    }

    // <!-- -------------------------|Section 6 Formulaire Reservations |-------------------------  -->

    #reservation1 {
        background-image: url("../img/blanc.jpg");
        width: 100vw;
        height: 100vh;
        background-position: center;

    }

    // < !-- -------------------------------|Section Footer|------------------------- -->

    footer {
        background-color: #191919;
        width: 100vw;
        height: 50vh;
    }

}